#diva{
    list-style-type: none;
    margin:10px;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float:left;
  }
  
  li{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: black;
  }
  
  li a:hover {
    background-color: #1fc8cb;
  }
  #divb{
    color: white;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    padding-left: 20px;
  }
  #divp{
    color:blue;
    font-size: large;
    padding-left: 80px;
    margin-bottom: 0px;
  }
  #divpp{
    padding-top: 0px;
    padding-left: 80px;
    margin-top: 0px;
  }
  .divpa{
    display: flex;
    flex-direction: row;
    margin: 0px;
    
    
  }
  #location{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
    
  }
  .about{
   font-size: large;
   font-weight: bold;
  }
  #our{
    display: flex;
    flex-direction: row;
    margin:20px;
    
    
    
  }
  .find{
    font-size: large;
    font-weight: bold;
    color:black;
   }
   .findhome{
    padding: 10px;
    margin-left: 20px;
   }
   .why{
    font-size: large;
    font-weight: bold;
    color:blue;
   }
   #y{
    display: flex;
    flex-direction: row;
    margin:20px;
    border: 100px;

   }
   .esteem{
    text-align: center;
   }
 